@use '/src/styles/base' as *;
@use '/src/styles/utils' as *;

body {
  color: white;
}

.modal__background {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(0.5px); // 배경 흐림 효과
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; // 다른 요소 위에 배치

  .modal {
    width: rem(526);
    height: rem(192);
    background-color: $gray-800;
    border-radius: 3px;
    position: relative;


    .modal__container {
      width: 100%;
      position: relative;

      p {
        width: 100%;
        height: rem(110);
        padding: rem(36) 0;
        font-size: rem(21);
        text-align: center;
      }

      .modal__btns {
        width: 100%;
        height: rem(82);
        color: $gray-300;
        position: relative;


        button:hover {
          color: $white;
        }

        .modal__btn--confirm {
          position: absolute;
          font-size: rem(21);
          left: rem(158);
          bottom: rem(24);
        }

        .modal__btn--cancel {
          position: absolute;
          font-size: rem(21);
          right: rem(158);
          bottom: rem(24);
        }
      }
    }
  }
}


