// @use './base';
// @use './layout/header';
// @use './pages';

.tving {
  width: 100%;
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 28.43px;
  color: #fff;
  font-family: Pretendard;
}

.logo__1__icon {
  width: 132px;
  position: relative;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.icon__live {
  width: 34px;
  position: relative;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}

.text {
  position: relative;
  line-height: 160%;
}

.menu__icon__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.menu__icon__text1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.icon__paramount {
  width: 111.9px;
  position: relative;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 52px;
}

.logo__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.icon__search {
  width: 40px;
  position: relative;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}

.aside {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}

.nav {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__organisms__2 {
  align-self: stretch;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 70px;
  box-sizing: border-box;
}

.banner__img__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 855px;
  object-fit: cover;
}

.after {
  position: absolute;
  top: 577px;
  left: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #000);
  width: 1920px;
  height: 278px;
}

.icon__banner__arrow {
  width: 70px;
  position: relative;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}

.swiper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1780px;
}

.group__child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  width: 5px;
  height: 16px;
}

.group__item {
  position: absolute;
  top: 0px;
  left: 9px;
  background-color: #fff;
  width: 5px;
  height: 16px;
}

.rectangle__parent {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 14px;
  height: 16px;
}

.icon__pagination {
  width: 18px;
  position: relative;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}

.swiper__pagination__bullet {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: #898989;
  height: 12px;
}

.swiper__pagination__bullet1 {
  width: 12px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  height: 12px;
}

.swiper__pagination__bullet__parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.banner__pagenation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.contents__pagination {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.button__detail__view {
  width: 221px;
  border-radius: 4px;
  border: 1px solid #a6a6a6;
  box-sizing: border-box;
  height: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  font-size: 21.33px;
}

.contents {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px;
}

.inner {
  position: absolute;
  top: 392px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 138px;
}

.main__banner {
  align-self: stretch;
  position: relative;
  height: 855px;
  font-size: 28.43px;
  color: #fff;
}

.main {
  align-self: stretch;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 21.33px;
  color: #c4c4c4;
}

.b {
  position: relative;
  line-height: 140%;
}

.lists__title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.title__wrap {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 70px;
}

.frame__child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  width: 240px;
  height: 345px;
  overflow: hidden;
  object-fit: cover;
}

.group__icon {
  position: absolute;
  height: 100%;
  width: 73.86%;
  top: 0%;
  right: -0.01%;
  bottom: 0%;
  left: 26.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.group__icon1 {
  position: absolute;
  height: 100%;
  width: 22.47%;
  top: 0%;
  right: 77.53%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.icon__original {
  position: absolute;
  top: 303px;
  left: 63px;
  width: 114.4px;
  height: 20px;
  overflow: hidden;
}

.thumnail__vertical__1 {
  width: 240px;
  position: relative;
  border-radius: 4px;
  height: 345px;
  overflow: hidden;
  flex-shrink: 0;
}

.title1 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}

.label__video__title__1 {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.visual__thumnail__label__1 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.frame__parent {
  width: 240px;
  position: relative;
  height: 387px;
  overflow: hidden;
  flex-shrink: 0;
}

.ellipse__icon {
  position: absolute;
  height: 95.33%;
  width: 95.33%;
  top: 3.33%;
  right: 1.33%;
  bottom: 1.33%;
  left: 3.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.85;
}

.b1 {
  position: absolute;
  height: 76.33%;
  width: 62%;
  top: 10%;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__age__limit {
  position: absolute;
  top: 5px;
  left: 205px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.label__video__title__12 {
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 21.33px;
  color: #c4c4c4;
  font-family: Pretendard;
}

.frame__container {
  width: 240px;
  position: relative;
  height: 387px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-family: 'Noto Sans KR';
}

.title12 {
  width: 55px;
  height: 32px;
}

.label__video__title__16 {
  position: absolute;
  top: 355px;
  left: 0px;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.swiper__list__wrap {
  position: absolute;
  top: 0px;
  left: 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.img__frame {
  align-self: stretch;
  position: relative;
  height: 388px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 21.33px;
  color: #c4c4c4;
}

.must__see {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 36px;
  gap: 12px;
}

.frame__child5 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fff;
  width: 345px;
  height: 194px;
  overflow: hidden;
}

.f-webp400__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 345px;
  height: 194.1px;
  object-fit: cover;
}

.icon__quick__vod {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 4px;
  background-color: #c73e4e;
  width: 96px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 9px;
  box-sizing: border-box;
}

.thumnail__horizontal__1 {
  width: 345px;
  position: relative;
  border-radius: 4px;
  height: 194px;
  overflow: hidden;
  flex-shrink: 0;
}

.title17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.sub__title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 16px;
  color: #a6a6a6;
}

.label__video__title__2 {
  width: 345px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  font-size: 21.33px;
  color: #c4c4c4;
}

.frame__parent5 {
  width: 345px;
  position: relative;
  height: 264px;
  overflow: hidden;
  flex-shrink: 0;
}

.img__frame1 {
  align-self: stretch;
  position: relative;
  height: 264px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 16px;
  color: #e1e1e1;
}

.thumnail__vertical__18 {
  width: 240px;
  position: relative;
  border-radius: 4px;
  height: 345px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}

.b3 {
  position: absolute;
  top: -29px;
  left: 12.43px;
  line-height: 160%;
  transform: rotate(0.7deg);
  transform-origin: 0 0;
}

.ranking {
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0%;
  right: 80%;
  bottom: 0%;
  left: 0%;
  overflow: hidden;
}

.title__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon__dot {
  width: 8px;
  position: relative;
  border-radius: 8px;
  background-color: #e93945;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.icon__dot__wrapper {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0px 0px;
  box-sizing: border-box;
}

.title29 {
  position: absolute;
  top: 0px;
  left: 60px;
  width: 180px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
  font-size: 21.33px;
  color: #c4c4c4;
  font-family: Pretendard;
}

.label__video__title__3 {
  width: 240px;
  position: absolute;
  margin: 0 !important;
  top: 328px;
  left: 0px;
  height: 60px;
  z-index: 1;
}

.visual__thumnail__label__2 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame__parent11 {
  width: 240px;
  position: relative;
  height: 388px;
  overflow: hidden;
  flex-shrink: 0;
}

.title__item {
  width: 8px;
  height: 32px;
}

.label__video__title__31 {
  width: 240px;
  position: absolute;
  margin: 0 !important;
  top: 328px;
  left: 0px;
  height: 60px;
  z-index: 1;
  text-align: left;
  font-size: 70px;
}

.frame__parent12 {
  width: 240px;
  position: relative;
  height: 388px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: center;
  font-size: 15px;
}

.img__frame2 {
  align-self: stretch;
  position: relative;
  height: 388px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 70px;
  font-family: 'Noto Sans KR';
}

.img__frame__icon {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 4px;
  width: 345px;
  height: 194px;
  overflow: hidden;
  object-fit: cover;
}

.title45 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 21.33px;
}

.sub__title12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #a6a6a6;
}

.viewer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #6b6b6b;
}

.title__wrap4 {
  position: absolute;
  top: 0px;
  left: 58px;
  width: 287px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.ranking8 {
  position: absolute;
  height: 100%;
  width: 13.91%;
  top: 0%;
  right: 86.09%;
  bottom: 0%;
  left: 0%;
  overflow: hidden;
  font-size: 70px;
  color: #fff;
  font-family: 'Noto Sans KR';
}

.label__video__title__4 {
  width: 345px;
  position: relative;
  height: 89px;
}

.list {
  width: 345px;
  position: relative;
  height: 293px;
  overflow: hidden;
  flex-shrink: 0;
}

.visual__thumnail__label__41 {
  position: absolute;
  top: 1px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.img__frame3 {
  align-self: stretch;
  position: relative;
  height: 294px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: 16px;
  color: #c4c4c4;
}

.icon5 {
  width: 285px;
  position: relative;
  border-radius: 4px;
  height: 570px;
  object-fit: cover;
}

.icon6 {
  width: 281.3px;
  position: relative;
  border-radius: 4px;
  height: 562.7px;
  object-fit: cover;
}

.img__frame4 {
  align-self: stretch;
  position: relative;
  height: 570px;
  overflow: hidden;
  flex-shrink: 0;
}

.img__frame__icon6 {
  position: absolute;
  top: 36px;
  left: 70px;
  border-radius: 4px;
  width: 1780px;
  height: 177px;
  overflow: hidden;
  object-fit: cover;
}

.sports {
  align-self: stretch;
  position: relative;
  height: 249px;
  overflow: hidden;
  flex-shrink: 0;
}

.img__frame__icon7 {
  width: 346px;
  position: relative;
  border-radius: 4px;
  height: 120px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.swiper__list__wrap5 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.img__frame5 {
  align-self: stretch;
  position: relative;
  height: 120px;
  overflow: hidden;
  flex-shrink: 0;
}

.event {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 36px 70px;
  gap: 12px;
}

.div3 {
  position: relative;
  line-height: 160%;
  color: #c4c4c4;
  white-space: pre-wrap;
}

.notice {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.go__brand {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.line__icon {
  width: 0px;
  position: relative;
  height: 24.8px;
  object-fit: contain;
}

.foot__select__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  color: #c4c4c4;
}

.line {
  align-self: stretch;
  position: relative;
  background-color: #2b2b2b;
  border-top: 1px solid #212121;
  box-sizing: border-box;
  height: 1px;
}

.footer__util {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
  color: #c4c4c4;
}

.line1 {
  width: 1px;
  position: relative;
  background-color: #2b2b2b;
  border-right: 1px solid #2b2b2b;
  box-sizing: border-box;
  height: 15.4px;
}

.paragraph {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.tvingcjnet {
  position: relative;
  text-decoration: underline;
  line-height: 160%;
}

.copyright__box {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon__youtube {
  width: 52px;
  position: relative;
  border-radius: 30px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
}

.footer__content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.inner1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 68px;
  gap: 27px;
}

.footer {
  align-self: stretch;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 140px 0px 170px;
  font-size: 21.33px;
  color: #6b6b6b;
}

.tving {
  width: 100%;
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 28.43px;
  color: #fff;
  font-family: Pretendard;
}

.footer {
  width: 100%;
  position: relative;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 140px 0px 170px;
  box-sizing: border-box;
  text-align: left;
  font-size: 21.33px;
  color: #6b6b6b;
  font-family: Pretendard;
}
