.screen {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: var(--gray-800);
  width: 3408px;
  height: 1693px;
  position: relative;
}

.screen .text-wrapper {
  position: absolute;
  top: 99px;
  left: 100px;
  font-family: var(--heading-XXXL-font-family);
  font-weight: var(--heading-XXXL-font-weight);
  color: var(--white);
  font-size: var(--heading-XXXL-font-size);
  letter-spacing: var(--heading-XXXL-letter-spacing);
  line-height: var(--heading-XXXL-line-height);
  white-space: nowrap;
  font-style: var(--heading-XXXL-font-style);
}

.screen .line {
  position: absolute;
  width: 3208px;
  height: 6px;
  top: 191px;
  left: 100px;
  background-color: var(--white);
}

.screen .text-wrapper-2 {
  position: absolute;
  top: 540px;
  left: 100px;
  font-family: var(--label-medium-font-family);
  font-weight: var(--label-medium-font-weight);
  color: var(--white);
  font-size: var(--label-medium-font-size);
  letter-spacing: var(--label-medium-letter-spacing);
  line-height: var(--label-medium-line-height);
  white-space: nowrap;
  font-style: var(--label-medium-font-style);
}

.screen .text-wrapper-3 {
  position: absolute;
  top: 930px;
  left: 100px;
  font-family: var(--label-medium-font-family);
  font-weight: var(--label-medium-font-weight);
  color: var(--white);
  font-size: var(--label-medium-font-size);
  letter-spacing: var(--label-medium-letter-spacing);
  line-height: var(--label-medium-line-height);
  white-space: nowrap;
  font-style: var(--label-medium-font-style);
}

.screen .text-wrapper-4 {
  position: absolute;
  top: 236px;
  left: 100px;
  font-family: var(--label-medium-font-family);
  font-weight: var(--label-medium-font-weight);
  color: var(--white);
  font-size: var(--label-medium-font-size);
  letter-spacing: var(--label-medium-letter-spacing);
  line-height: var(--label-medium-line-height);
  white-space: nowrap;
  font-style: var(--label-medium-font-style);
}

.screen .f-webp {
  position: absolute;
  width: 252px;
  height: 284px;
  top: 237px;
  left: 176px;
  object-fit: cover;
}

.screen .img {
  position: absolute;
  width: 328px;
  height: 370px;
  top: 541px;
  left: 176px;
  object-fit: cover;
}

.screen .f-webp-2 {
  position: absolute;
  width: 587px;
  height: 662px;
  top: 931px;
  left: 176px;
  object-fit: cover;
}

.f-webp620-3-icon {
  width: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 662.3px;
  object-fit: cover;
}
