@use './../../styles/style';
@use './../../styles/utils' as *;

.find-id {
  display: flex;
  flex-flow: column nowrap;
  max-width: $breakpoint-mobile;
  background-color: $black;
  color: $white;
  align-items: center;
  padding: 0 $container-gutter;

  .find-id__title {
    padding: rem(28) 0;
  }

  @media (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-tablet;
  }

  @media (min-width: 1025px) {
    max-width: 100vw;
  }
}

.find-id__article--email {
  width: 100%;

  .find-id__title--email {
    color: $white;
  }

  .find-id__description--email {
    color: $gray-400;
  }
  @media (min-width: $breakpoint-mobile) {
    width: auto;
  }
}

.find-id__form--email {
  input {
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.84rem 1.25rem 0.84rem 1rem;
    background-color: $brand-dark-bg-2;
    border: none;
    color: $white;

    input:focus {
      outline: 1px solid $gray-100;
    }
  }

  @media (min-width: $breakpoint-mobile) {
    width: 26rem;

    input {
      padding: 0.87rem 1.25rem 0.87rem 1rem;
    }
  }

  @media (min-width: 1025px) {
    width: 45.75rem;

    input {
      padding: 1.59rem 1.75rem 1.59rem 1.5rem;
    }
  }
}

.email-input__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  position: relative;
  margin: 1rem 0 0.25rem 0;

  @media (min-width: 1025px) {
    margin: 1.5rem 0 0.25rem 0;
  }
}

.find-id__button-delete-email {
  position: absolute;
  right: 1.25rem;
  background-image: url('./../../assets/icon/circle-delete-icon.svg');
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  background-size: contain;

  @media (min-width: $breakpoint-tablet) {
    width: 2.25rem;
    height: 2.25rem;
    right: 1.5rem;
  }
}

.find-id__validation--email {
  color: #ff1531;
}

.find-id__submit-button--email {
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  color: $black;
  background-color: $gray-100;
  height: 2.625rem;
  margin-top: 1.25rem;

  @media (min-width: $breakpoint-mobile) {
    width: 26rem;
    height: 3.125rem;
    margin-top: 1.5rem;
  }

  @media (min-width: 1025px) {
    width: 45.75rem;
    height: 5.375rem;
    margin-top: 2.25rem;
  }
}

.find-id__submit-button--email:hover {
  background-color: $white;
  color: $black;
}

.find-id__submit-button--email:focus {
  outline: 1px solid $gray-100;
  background-color: $white;
  color: $black;
}

.find-id__submit-button--email:disabled {
  color: $gray-400;
  background-color: $gray-700;
}

.divider-line__layout {
  color: $gray-700;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.25rem;
  margin: 2.5rem auto;
  width: 100%;

  p {
    flex-shrink: 0;
    font-weight: 600;
  }
  @media (min-width: $breakpoint-mobile) {
    width: 26rem;
  }

  @media (min-width: 1025px) {
    width: 45.75rem;
  }
}

.divider-line__layout::before,
.divider-line__layout::after {
  content: '';
  display: block;
  background-color: $gray-700;
  width: 100%;
  height: 1px;
}

.find-id__article--verify {
  width: 100%;

  .find-id__title--verify {
    color: $white;
  }

  .find-id__description--verify {
    color: $gray-400;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    width: auto;
  }
}

.find-id__button--verify {
  width: 100%;
  height: 2.625rem;
  border: none;
  border-radius: 0.25rem;
  color: $black;
  background-color: $gray-100;
  margin-top: 1rem;

  @media (min-width: $breakpoint-mobile) {
    width: 26rem;
    height: 3.125rem;
  }

  @media (min-width: 1025px) {
    width: 45.75rem;
    height: 5.375rem;
    margin-top: 2.25rem;
  }
}

.find-id__button--verify:hover {
  background-color: $white;
}

.find-id__button--verify:focus {
  outline: 1px solid $gray-100;
  background-color: $gray-200;
}
