@use './../../styles/style';
@use './../../styles/utils/variables' as var;
@use './../../styles/utils/typography' as typo;
@use './../../styles/utils/fuctions' as func;

.find-id {
  display: flex;
  flex-flow: column nowrap;
  max-width: var.$breakpoint-mobile;
  background-color: var.$black;
  color: var.$white;
  align-items: center;
  padding: 0 var.$container-gutter;

  .find-id__title {
    @extend .heading-large;
    padding: func.rem(28) 0;
  }

  @media (min-width: var.$breakpoint-mobile) {
    max-width: var.$breakpoint-tablet;
  }

  @media (min-width: var.$breakpoint-tablet) {
    max-width: 100vw;
  }
}

.find-id__article--email {
  @extend .label-small;
  width: 100%;

  .find-id__title--email {
    color: var.$white;
  }

  .find-id__description--email {
    color: var.$gray-400;
  }
  @media (min-width: var.$breakpoint-mobile) {
    width: auto;
  }
}

.find-id__form--email {
  @extend .paragraph-large;
  input {
    width: 100%;
    border-radius: 0.25rem;
    margin: 1rem 0 1.25rem 0;
    padding: 0.84rem 1.25rem 0.84rem 1rem;
    background-color: var.$brand-dark-bg-2;
    border: none;
    color: var.$white;

    input:focus {
      outline: 1px solid var.$gray-100;
    }
  }

  @media (min-width: var.$breakpoint-mobile) {
    width: 26rem;

    input {
      padding: 0.87rem 1.25rem 0.87rem 1rem;
    }
  }

  @media (min-width: var.$breakpoint-tablet) {
    width: 45.75rem;

    input {
      padding: 1.59rem 1.75rem 1.59rem 1.5rem;
    }
  }
}

.find-id__submit-button--email {
  @extend .label-small;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  color: var.$white;
  background-color: var.$gray-700;
  height: 2.625rem;

  @media (min-width: var.$breakpoint-mobile) {
    width: 26rem;
    height: 3.125rem;
  }

  @media (min-width: var.$breakpoint-tablet) {
    width: 45.75rem;
    height: 5.375rem;
  }
}

.find-id__submit-button--email:hover {
  background-color: var.$white;
  color: var.$black;
}

// .find-id__or::before,
// .find-id__or::after {
//   content: '';
//   display: inline-block;
//   background-color: #fff;

//   width: 150px;
//   height: 1px;
// }

.find-id__or {
  span {
    display: inline-block;
    width: 50px;
    height: 1px;
    color: white;
    background-color: white;
  }
}
0 .find-id__article--verify {
  @extend .label-small;
  width: 100%;

  .find-id__title--verify {
    color: var.$white;
  }

  .find-id__description--verify {
    color: var.$gray-400;
  }

  @media screen and (min-width: var.$breakpoint-mobile) {
    width: auto;
  }
}

.find-id__button--verify {
  @extend .label-small;
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  color: var.$black;
  background-color: var.$gray-100;
  height: 2.625rem;

  @media (max-width: var.$breakpoint-tablet) {
    width: 26rem;
    height: 3.125rem;
  }

  @media (min-width: var.$breakpoint-tablet) {
    width: 45.75rem;
    height: 5.375rem;
  }
}

.find-id__button--verify:hover {
  background-color: var.$gray-200;
}
