<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
  </head>
  <body>

    <header class="header">
      <div class="header__logo">
        <a href="/">
          <img src="/src/assets/images/tyingLogo.svg" alt="티빙 로고">
        </a>
      </div>

      <nav class="header__menu">
        <a href="/" class="header__menu-item">
          <img src="/src/assets/images/Live.svg" alt="실시간 아이콘" class="header__menu-icon">
          실시간
        </a>
        <a href="/" class="header__menu-item">TV프로그램</a>
        <a href="/" class="header__menu-item">영화</a>
        <a href="/" class="header__menu-item">
          <img src="/src/assets/images/Paramount.svg" alt="파라마운트 플러스 서비스 아이콘" class="header__menu-icon">
        </a>
      </nav>

      <div class="header__actions">
        <button type="button" class="header__actions-btn" aria-label="검색">
          <img src="/src/assets/images/search.svg" alt="돋보기 아이콘" class="header__actions-icon">
        </button>

        <button type="button" class="header__actions-btn" aria-label="프로필" id="profile-button">
          <img src="/src/assets/images/Profile.svg" alt="프로필 아이콘" class="header__actions-icon">
        </button>
      </div>
    </header>
  </body>
</html>