@use './../../styles/style';
@use './../../styles/utils' as *;

.find-pwd {
  display: flex;
  flex-flow: column nowrap;
  max-width: $breakpoint-mobile;
  background-color: $black;
  color: $white;
  align-items: center;
  padding: 0 $container-gutter;

  .find-pwd__title {
    padding: rem(28) 0;
  }

  .find-pwd__description {
    color: $gray-400;

    @media (min-width: $breakpoint-mobile) {
      max-width: $breakpoint-tablet;
      padding: 2.5rem 0 1.5rem 0;
    }

    @media (min-width: 1025px) {
      max-width: 100vw;
      padding: 4.38rem 0 3.75rem 0;
    }
  }

  @media (min-width: $breakpoint-mobile) {
    max-width: $breakpoint-tablet;
  }

  @media (min-width: 1025px) {
    max-width: 100vw;
  }
}

.find-pwd__form--id {
  width: 100%;

  input {
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.84rem 1.25rem 0.84rem 1rem;
    background-color: $brand-dark-bg-2;
    border: none;
    color: $white;

    input:focus {
      outline: 1px solid $gray-100;
    }
  }

  @media (min-width: $breakpoint-mobile) {
    width: 26rem;

    input {
      padding: 0.87rem 1.25rem 0.87rem 1rem;
    }
  }

  @media (min-width: 1025px) {
    width: 45.75rem;

    input {
      padding: 1.59rem 1.75rem 1.59rem 1.5rem;
    }
  }
}

.id-input__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  position: relative;
  margin: 1rem 0 0.25rem 0;

  @media (min-width: 1025px) {
    margin: 1.5rem 0 0.25rem 0;
  }
}

.find-pwd__button-delete-id {
  position: absolute;
  right: 1.25rem;
  background-image: url('./../../assets/icon/circle-delete-icon.svg');
  background-repeat: no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  background-size: contain;

  @media (min-width: $breakpoint-tablet) {
    width: 2.25rem;
    height: 2.25rem;
    right: 1.5rem;
  }
}

.find-pwd__submit-button--id {
  width: 100%;
  border: none;
  border-radius: 0.25rem;
  background-color: $gray-100;
  color: $black;
  height: 2.625rem;
  margin-top: 1.25rem;

  @media (min-width: $breakpoint-mobile) {
    width: 26rem;
    height: 3.125rem;
  }

  @media (min-width: 1025px) {
    width: 45.75rem;
    height: 5.375rem;
  }
}

.find-pwd__validation--id {
  color: #ff1531;
}

.find-pwd__submit-button--id:hover {
  background-color: $white;
  color: $black;
}

.find-pwd__submit-button--id:disabled {
  background-color: $gray-700;
  color: $white;
}

.find-pwd__submit-button--id:focus {
  outline: 1px solid $gray-100;
  background-color: $white;
  color: $black;
}
