@use '../../../src/styles/base' as *; 
@use '../../../src/styles/utils' as *; 

body {
  background-color: $black;
}

.footer {
  width: 100%;
  background-color: $black;
  padding: rem(140) rem(68) rem(170);
}

.footer__container {
  width: 100%;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  font-size: rem(21);
  font-weight: 600;
}

.footer__inner-top {
  position: relative;
  margin-bottom: rem(54);

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &::before {
    display: block;
    content: '';
    width: 100%;
    height: rem(1);
    background-color: $gray-800;
    position: absolute;
    top: rem(54);
  }

  .footer__notice {
    float: left;
    display: flex;
    gap: rem(20);

    h3 {
      color: $gray-500;
    }

    p {
      color: $gray-200;
    }
  }

  .footer__buttons {
    float: right;
    color: $gray-200;
    cursor: pointer;

    li,
    span {
      display: inline-block;
      margin: 0 rem(15); 
    }

    li:hover,
    li:focus {
      color: $gray-100;
      transition: color 0.2s linear;
    }
  }
}

.footer__service {
  display: flex;
  justify-content: flex-start;
  gap: rem(36);
  color: $gray-200;
  margin-bottom: rem(24);

  li:hover,
  li:focus {
    color: $gray-100;
    transition: color 0.2s linear;
  }
}

.footer__company-info {
  margin-bottom: rem(24);
  color: $gray-500;

  .underline {
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $gray-300;
      transition: color 0.2s linear;
    }
  }

  span:not(:first-of-type)::before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 14px;
    vertical-align: middle;
    background-color: $gray-800;
    margin: 0 rem(10);
    position: relative;
    bottom: rem(2);
  }
}

.footer__sns {
  display: flex;
  gap: rem(20);
  margin-bottom: rem(24);

  li a:hover svg path,
  li a:focus svg path {
    fill: $gray-300;
  }
}

small {
  font-size: rem(21);
  color: $gray-500;
}

// 태블릿
@media (max-width: $breakpoint-tablet) {
  .footer {
    margin: rem(70) rem(40) rem(100) rem(40);
  }

  .footer__container {
    font-size: rem(12);
  }

  .footer__inner-top {
    margin-bottom: rem(24);

    &::before {
      width: 100%;
      top: rem(27);
    }
  }

  .footer__service {
    gap: rem(20);
    margin-bottom: rem(12);
  }

  .footer__sns {
    gap: rem(8);
    margin-bottom: rem(12);

    svg {
      width: rem(30);
      height: rem(30);
    }
  }

  small {
    font-size: rem(12);
  }
}

// 모바일
@media (max-width: $breakpoint-mobile) {
  .footer {
    margin: rem(52) rem(16) rem(82) rem(16);
  }

  .footer__container {
    font-size: rem(12);
  }

  .footer__inner-top {
    margin-bottom: rem(24);

    &::before {
      width: 100%;
      top: rem(27);
    }
  }

  .footer__service {
    flex-direction: column;
    gap: rem(4);
    margin-bottom: rem(12);
  }

  .footer__sns {
    gap: rem(8);
    margin-bottom: rem(12);

    svg {
      width: rem(24);
      height: rem(24);
    }
  }

  .footer__buttons,
  .footer__company-info {
    display: none;
  }

  small {
    font-size: rem(12);
  }
}
