@use '../../../src/styles/base' as *; 
@use '../../../src/styles/utils' as *; 

// body {
//   background-color: $black;
//   color: $gray-200;
// }

// .footer {

//   padding: rem(140) 0 rem(170);
//   box-sizing: border-box;

//   .footer__container {
//     padding: 0 rem(68);
//     margin: 0 auto;
//     position: relative;
//     font-size: rem(21);
//     font-weight: 600;

//     .footer__inner {
//       width: 100%;
//       box-shadow: 0 -1px 0 0 $gray-800;

//       .footer__inner-top {
//         display: flex;
//         justify-content: space-between;
//         position: relative;
//         bottom: rem(54);

//         .footer__notice {
//           display: flex;

//           h3 {
//             margin-right: rem(30);
//             color: $gray-500;
//           }
//         }

//         .footer__buttons {
//           display: flex;
//           cursor: pointer;

//           li:hover,
//           li:focus {
//             color: $gray-100;
//             transition: color 0.2s linear;
//           }

//           span {
//             margin: 0 rem(30);
//             color: $gray-500;
//           }
//         }
//       }

//       .footer__service {
//         display: flex;
//         gap: rem(36);
//         margin-bottom: rem(24);

//         li:hover,
//         li:focus {
//           color: $gray-100;
//           transition: color 0.2s linear;
//         }
//       }

//       .footer__company-info {
//         color: $gray-500;

//         address {
//           display: flex;
//           flex-direction: column;

//           p {
//             margin-bottom: rem(12);
//             gap: rem(8);

//             span:not(:first-of-type)::before {
//               display: inline-block;
//               content: '';
//               width: 1px;
//               height: 14px;
//               vertical-align: middle;
//               background-color: $gray-800;
//               margin: 0 rem(8);
//             }
//           }

//           .underline {
//             text-decoration: underline;
//           }
//         }
//       }

//       .footer__sns {
//         display: flex;
//         margin: rem(20) 0;
//         gap: rem(20);

//         li a:hover svg path,
//         li a:focus svg path {
//           fill: $gray-300;
//         }
//       }

//       small {
//         color: $gray-500;
//       }

//       .underline:hover,
//       .underline:focus {
//         color: $gray-300;
//         transition: color 0.2s linear;
//       }
//     }
//   }
// }

/* Tablet Styles */
// @media (max-width: $breakpoint-tablet) {
//   .footer {
//     height: rem(413);
//     border: 3px solid green;

//     .footer__container {
//       border: 2px solid red;
//       font-size: rem(12);
//       padding: rem(70) rem(40) rem(100);
//     }

//     .footer__inner {
//       display: flex;
//       flex-direction: column;

//       .footer__inner-top {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .footer__notice {
//           h3 {
//             margin-right: rem(20);
//           }
//         }
//       }

//       .footer__service {
//         flex-direction: row;
//         gap: rem(24);
//       }

//       .footer__sns {
//         justify-content: flex-start;

//         svg {
//           width: rem(30);
//           height: rem(30);
//         }
//       }
//     }
//   }
// }
// @media (max-width: $breakpoint-tablet) {
//   .footer {
//     height: rem(413);
//     box-sizing: border-box;
//     border: 1px solid red;

//     .footer__container {
//       font-size: rem(12);
//       padding: rem(70) rem(40) rem(100);
//       margin: 0 auto;
//     }

//     .footer__inner {
//       .footer__inner-top {
//         .footer__notice {
//           h3 {
//             margin-right: rem(20);
//           }
//         }
//       }

//       .footer__service {
//         gap: rem(24);
//       }

//       .footer__sns {
//         svg {
//           width: rem(30);
//           height: rem(30);
//         }
//       }
//     }
//   }
// }



// @media (max-width: $breakpoint-mobile) {
//   .footer {
//     height: auto; /* 고정 높이를 사용하지 않고 내용에 따라 자동으로 조정되도록 설정 */
//     padding: rem(52) rem(16) rem(82);
//     font-size: rem(12);

//     .footer__container {
//       display: flex;
//       flex-direction: column;
//       gap: rem(16); /* 요소 간의 간격을 적절히 조정 */
//       width: 100%;
//       box-sizing: border-box;
//     }

//     .footer__inner {
//       display: flex;
//       flex-direction: column;
//       gap: rem(16); /* 요소 간의 간격을 적절히 조정 */
//       width: 100%;
//       box-sizing: border-box;

//       .footer__inner-top {
//         display: flex;
//         flex-direction: column;
//         gap: rem(16);
//         width: 100%;

//         .footer__notice {
//           width: 100%;
//         }
//       }

//       .footer__buttons {
//         display: none;
//       }

//       .footer__service {
//         display: flex;
//         flex-direction: column;
//         gap: rem(8);
//       }

//       .footer__company-info {
//         display: none;
//       }

//       .footer__sns {
//         display: flex;
//         justify-content: flex-start;
//         gap: rem(8);

//         svg {
//           width: rem(24);
//           height: rem(24);
//         }
//       }

//       small {
//         color: $gray-500;
//         margin-top: rem(16); /* 여백을 추가하여 다른 요소들과의 간격을 유지 */
//       }
//     }
//   }
// }


body {
  background-color: $black;
}

.footer {
  border: 1px solid red;
  margin: rem(140) rem(68) rem(170);
}

.footer__container {
  width: 100%;
  border: rem(1) solid $gray-800;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  font-size: rem(21);
  font-weight: 600;
  // border: 3px solid green;

  .footer__inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: rem(54);

    &::after {
      display: block;
      content: '';
      width: 100%;
      height: rem(1);
      background-color: $gray-800;
      position: absolute;
      top: rem(54);
    }

    .footer__notice {
      display: flex;
      gap: rem(20);

      h3 {
        color: $gray-500;
      }

      p {
        color: $gray-200;
      }
    }

    .footer__buttons {
      display: flex;
      color: $gray-200;
      cursor: pointer;

      li:hover,
      li:focus {
        color: $gray-100;
        transition: color 0.2s linear;
      }

      span {
        margin: 0 rem(30);
      }
    }
  }

  .footer__service {
    display: flex;
    justify-content: flex-start;
    gap: rem(36);
    color: $gray-200;
    margin-bottom: rem(24);

    li:hover,
    li:focus {
      color: $gray-100;
      transition: color 0.2s linear;
    }
  }

  .footer__company-info {
    margin-bottom: rem(24);
    color: $gray-500;

    .underline {
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $gray-300;
        transition: color 0.2s linear;
      }
    }

    span:not(:first-of-type)::before {
      display: inline-block;
      content: '';
      width: 1px;
      height: 14px;
      vertical-align: middle;
      background-color: $gray-800;
      margin: 0 rem(10);
      position: relative;
      bottom: rem(2);
     }
  }

  .footer__sns {
    display: flex;
    gap: rem(20);
    margin-bottom: rem(24);

    li a:hover svg path,
    li a:focus svg path {
      fill: $gray-300;
    }
  }

  small {
    font-size: rem(21);
    color: $gray-500;
  }
}

// 태블릿
@media (max-width: $breakpoint-tablet) {
  
  .footer {
    border: 1px solid red;
    margin: rem(70) rme(40) rem(100) rem(40);
  }

  .footer__container {
    width: 100%;
    border: rem(1) solid $gray-800;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    font-size: rem(12);
    font-weight: 600;
  }

  .footer__service {
    gap: rem(20);
    margin-bottom: rem(12);

  .footer__sns {
    gap: rem(8);
    margin-bottom: rem(12);

    a:hover svg path,
    a:focus svg path {
      fill: $gray-300;
    }

      img {
        width: rem(30);
        height: rem(30);
      }
    }
  }

  small {
    font-size: rem(12);
  }
}


// 모바일
@media (max-width: $breakpoint-mobile) {
  
  .footer {
    border: 1px solid red;
    margin: rem(52) rme(16) rem(82) rem(16);
    height: rem(401);
  }

  .footer__container {
    width: 100%;
    border: rem(1) solid $gray-800;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    font-size: rem(12);
    font-weight: 600;
  }

  .footer__service {
    display: flex;
    flex-direction: column;
    gap: rem(4);
    margin-bottom: rem(12);

  
  .footer__company-info {
    display: none;
  }


  .footer__sns {
    gap: rem(8);
    margin-bottom: rem(12);

    a:hover svg path,
    a:focus svg path {
      fill: $gray-300;
    }

      img {
        width: rem(24);
        height: rem(24);
      }
    }
  }

  small {
    font-size: rem(12);
  }
}

