@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 스타일 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  font-size: 1em;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

address {
  all: unset;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  padding-inline-start: 0;
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

p,
figure {
  margin: 0;
}

input,
textarea,
select,
option,
button {
  font: inherit;
  margin: 0;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  cursor: pointer;
}

/* Color */
/* Breakpoints */
/* Spacing */
/* Typography */
.heading-medium {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 700;
}

.heading-large {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 2.375rem;
  line-height: 1.4;
  font-weight: 700;
}

.heading-xlarge {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 2.625rem;
  line-height: 1.4;
  font-weight: 700;
}

.heading-xxlarge {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 2.875rem;
  line-height: 1.4;
  font-weight: 700;
}

.heading-xxxlarge {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 3.125rem;
  line-height: 1.4;
  font-weight: 700;
}

/* ------------------- Label ------------------ */
.label-small {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 600;
}

.label-medium {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1.875rem;
  line-height: 1.5;
  font-weight: 600;
}

.label-large {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}

/* ------------------- Paragraph ------------------ */
.paragraph-small {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.paragraph-medium {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 400;
}

.paragraph-large {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1.75rem;
  line-height: 1.6;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  /* ------------------ Heading ----------------- */
  .heading-medium {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .heading-large {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1.75rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .heading-xlarge {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .heading-xxlarge {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 2.25rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .heading-xxxlarge {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: 700;
  }
  /* ------------------- Label ------------------ */
  .label-small {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
  }
  .label-medium {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 600;
  }
  .label-large {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 600;
  }
  /* ------------------- Paragraph ------------------ */
  .paragraph-small {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.75rem;
    line-height: 1.6;
    font-weight: 400;
  }
  .paragraph-medium {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.8125rem;
    line-height: 1.6;
    font-weight: 400;
  }
  .paragraph-large {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 400;
  }
}
@media screen and (max-width: 680px) {
  /* ------------------ Heading ----------------- */
  .heading-medium {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .heading-large {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .heading-xlarge {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .heading-xxlarge {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 700;
  }
  .heading-xxxlarge {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 700;
  }
  /* ------------------- Label ------------------ */
  .label-small {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.75rem;
    line-height: 1.5;
    font-weight: 600;
  }
  .label-medium {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 600;
  }
  .label-large {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
  }
  /* ------------------- Paragraph ------------------ */
  .paragraph-small {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.75rem;
    line-height: 1.6;
    font-weight: 400;
  }
  .paragraph-medium {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.75rem;
    line-height: 1.6;
    font-weight: 400;
  }
  .paragraph-large {
    font-family: "Pretendard Variable", sans-serif;
    font-size: 0.8125rem;
    line-height: 1.6;
    font-weight: 400;
  }
}
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard Variable", sans-serif;
  line-height: 1.5;
  margin: 0;
}

/* 숨김 콘텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  border-width: 0;
}

body {
  background-color: rgb(0, 0, 0);
  color: #c4c4c4;
  padding: 8.75rem 0 10.625rem;
}

.footer .footer__container {
  padding: 0 4.25rem;
  margin: 0 auto;
  position: relative;
  font-size: 1.3125rem;
  font-weight: 600;
}
.footer .footer__container .footer__inner {
  width: 100%;
  box-shadow: 0 -1px 0 0 #2b2b2b;
}
.footer .footer__container .footer__inner .footer__inner-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 3.375rem;
}
.footer .footer__container .footer__inner .footer__inner-top .footer__notice {
  display: flex;
}
.footer .footer__container .footer__inner .footer__inner-top .footer__notice h3 {
  margin-right: 1.875rem;
  color: #6b6b6b;
}
.footer .footer__container .footer__inner .footer__inner-top .footer__buttons {
  display: flex;
  cursor: pointer;
}
.footer .footer__container .footer__inner .footer__inner-top .footer__buttons li:hover,
.footer .footer__container .footer__inner .footer__inner-top .footer__buttons li:focus {
  color: #e1e1e1;
  transition: color 0.2s linear;
}
.footer .footer__container .footer__inner .footer__inner-top .footer__buttons span {
  margin: 0 1.875rem;
  color: #6b6b6b;
}
.footer .footer__container .footer__inner .footer__service {
  display: flex;
  gap: 2.25rem;
  margin-bottom: 1.5rem;
}
.footer .footer__container .footer__inner .footer__service li:hover,
.footer .footer__container .footer__inner .footer__service li:focus {
  color: #e1e1e1;
  transition: color 0.2s linear;
}
.footer .footer__container .footer__inner .footer__company-info {
  color: #6b6b6b;
}
.footer .footer__container .footer__inner .footer__company-info address {
  display: flex;
  flex-direction: column;
}
.footer .footer__container .footer__inner .footer__company-info address p {
  margin-bottom: 0.75rem;
  gap: 0.5rem;
}
.footer .footer__container .footer__inner .footer__company-info address p span:not(:first-of-type)::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 14px;
  vertical-align: middle;
  background-color: #2b2b2b;
  margin: 0 0.5rem;
}
.footer .footer__container .footer__inner .footer__company-info address .underline {
  text-decoration: underline;
}
.footer .footer__container .footer__inner .footer__sns {
  display: flex;
  margin: 1.25rem 0;
  gap: 1.25rem;
}
.footer .footer__container .footer__inner .footer__sns li a:hover svg path,
.footer .footer__container .footer__inner .footer__sns li a:focus svg path {
  fill: #a6a6a6;
}
.footer .footer__container .footer__inner small {
  color: #6b6b6b;
}
.footer .footer__container .footer__inner .underline:hover,
.footer .footer__container .footer__inner .underline:focus {
  color: #a6a6a6;
  transition: color 0.2s linear;
}

/* Tablet Styles */
@media (max-width: 64rem) {
  .footer {
    padding: 4.375rem 2.5rem 6.25rem;
    font-size: 0.75rem;
  }
  .footer .footer__inner {
    display: flex;
    flex-direction: column;
  }
  .footer .footer__inner .footer__inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer__inner .footer__inner-top .footer__notice h3 {
    margin-right: 1.25rem;
  }
  .footer .footer__inner .footer__service {
    flex-direction: row;
    gap: 1.5rem;
  }
  .footer .footer__inner .footer__sns {
    justify-content: flex-start;
  }
}
/* Mobile Styles */
@media (max-width: 42.5rem) {
  .footer {
    padding: 3.25rem 1rem 5.125rem;
    font-size: 0.75rem;
  }
  .footer .footer__inner .footer__inner-top {
    flex-direction: column;
    align-items: flex-start;
    bottom: 0;
  }
  .footer .footer__inner .footer__buttons {
    display: none;
  }
  .footer .footer__inner .footer__service {
    flex-direction: column;
    gap: 1rem;
  }
  .footer .footer__inner .footer__company-info {
    display: none;
  }
  .footer .footer__inner .footer__sns {
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=footer.css.map */
