<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>footer</title>
  <script type="module" src="./footer.js"></script>
</head>
<body>
  <footer class="footer">
    <section class="footer__container">
      <h2 class="sr-only">하단 공지사항 및 기업 정보</h2>
      <div class="footer__inner">
       <section class="footer__inner-top">
        <h2 class="sr-only">푸터 상단 영역</h2>
         <!-- 공지사항 -->
        <article class="footer__notice">
          <h3 class="footer__notice--text1">공지사항</h3>
          <p class="footer__notice--text2">[안내]&nbsp;&nbsp;합병보고 주주총회에 갈음하는 공고</p>
        </article>
  
        <!-- 바로가기 영역 -->
        
        <ul class="footer__buttons">
          <li>브랜드 바로가기 &#43;</li>
          <li>그룹 계열사 바로가기 &#43;</li>
        </ul>
       </section>
        
  
        <!-- 서비스 영역 -->
        <nav class="footer__service">
          <ul>
            <li><a href="https://www.tving.com/help/notice">고객센터</a></li>
            <li><a href="https://www.tving.com/policy/terms">이용약관</a></li>
            <li><a href="https://www.tving.com/policy/privacy"><strong>개인정보처리방침</strong></a></li>
            <li><a href="https://www.tving.com/policy/youth">청소년 보호정책</a></li>
            <li><a href="https://www.tving.com/policy/legal">법적고지</a></li>
            <li><a href="https://www.tving.com/event/list">이벤트</a></li>
            <li><a href="https://team.tving.com/">인재채용</a></li>
          </ul>
        </nav>
  
        <!-- 기업 정보 -->
        <section class="footer__company-info">
          <address>
            <p>대표이사 : YANG JIEUL</p>
            <p><a href="/">사업자정보확인</a></p>
            <p>사업자등록번호 : 188-88-01893</p>
            <p>통신판매신고번호 : 2020-서울마포-3641호</p>
            <p>사업장 : 서울특별시 마포구 상암산로 34, DMC디지털큐브 15층(상암동)</p>
            <p>호스팅사업자 : 씨제이올리브네트웍스(주)</p>
          </address>
          <p>
            <a href="https://www.tving.com/help/qna">고객문의 바로가기</a><br>
            <a href="mailto:tving@cj.net?subject=문의사항">대표메일 : tving@cj.net</a><br>
            <a href="tel:16701525">고객센터 : 1670-1525 (평일/주말 09시~18시, 공휴일 휴무)</a>
          </p>
          <p>
            ENM 시청자 상담실 (편성 문의 및 시청자 의견) : 080-080-0780<br>
            Mnet 고객센터(반송편성문의) : 1855-1631
          </p>
        </section>
  
        <!-- SNS -->
      
        <ul class="footer__sns">
          <li><a href="https://www.youtube.com/"><img src="../../assets/icon/Youtube.svg" alt="유튜브" /></a></li>
          <li><a href="https://www.instagram.com/"><img src="../../assets/icon/Instragram.svg" alt="인스타그램" /></a></li>
          <li><a href="https://x.com/?lang=ko"><img src="../../assets/icon/Twitter.svg" alt="트위터" /></a></li>
          <li><a href="https://www.facebook.com/?locale=ko_KR"><img src="../../assets/icon/Facebook.svg" alt="페이스북" /></a></li>
        </ul>
        
  
        <!-- 저작권 정보 -->
        <small>Copyright &#64; 주식회사 티빙 All right reserved.</small>
      </div>
    </section>
  </footer>
</body>
</html>